@use "./product" as p;

.cart {
  position: relative;
  min-height: 100vh;
  margin-top: 80px;
& i{
  color: white;
}
  &__contain {
    margin-top: 40px;
    padding-bottom: 100px;
    position: relative;
    &_card {
      display: flex;
      margin-top: 30px;
      background-color: white;
      color: black;
      border-radius: 30px;
      margin-inline: 20px;
      padding: 20px;
      &_img {
        flex: 1;
        & img {
          width: 300px;
          height: 300px;
          object-fit: contain;
          padding-left: 20px;
        }
      }
      &_details {
        flex: 1;
        width: 500px;
        &_items {
          margin-top: 20px;

          & h2 {
            font-size: 1rem;
            font-weight: 200;
          }

          & h4 {
            margin-top: 10px;
            color: gray;
            font-weight: 600;
            font-size: 2rem;
            font-family: 'poppins';
          }
          

          &--button {
            display: flex;
            align-items: center;
          
            & span {
              padding: 10px;
              font-size: 1.4rem;
              font-family: "playfair display";
            }
            & p{
              font-size: 1.1rem;
            }

            & button {
              padding: 6px 15px;
              cursor: pointer;
              display: flex;
              align-items: center;
              background-color: black;
              color: white;
              border: none;
              

            }
            & i{
              width: 40px;
              height: 40px;
              padding-top:6px;
              padding-inline:5px;
              margin-left: 30px;
                background-color: white;
              border-radius: 50%;
              color: black;
              font-size: 1.5rem;
            }
            &--remove {
              background: black;
              color: white;
              border: 0.5px solid black;
              padding: 10px 20px !important;
              text-transform: uppercase;
              letter-spacing: 2px;
              border-radius: 30px;

              
              
            }
          }

          &--flex {
            width: 300px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            & div {
              display: flex;
              align-items: center;
              & i {
                font-size: 1.2rem;
                transition: all 0.3 ease;
                cursor: pointer;
                &:hover {
                  transform: scale(1.1);
                }
              }
              & span {
                font-size: 1.1rem;
                text-transform: capitalize;
              }
            }
          }

          & h3 {
            font-size: 1rem;
            font-weight: 200;
            text-transform: capitalize;
            padding-block: 10px;
          }

          &--btn {
            & h1,
            & span {
              padding-bottom: 20px;
              text-transform: uppercase;
              font-weight: 200;
            }
            & span {
              color: rgb(34, 33, 33);
              text-transform: uppercase;
              font-family: Arial, Helvetica, sans-serif;
            }
            &--checkout {
              display: flex;
              margin-bottom: 40px;
              align-items: center;
              flex-direction: column;

              justify-content: center;
            }
          }
        }
      }
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &--nav {
    padding: 20px;
    font-size: 1.8rem;
  }
  &--error {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    text-transform: uppercase;
    font-weight: 200;
  }
}

.cart__maincontain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
