.floating{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-top: 200px;
    margin-bottom: 220px;


    &__top{
        position: absolute;
        top: -20% ;
        right: 32%;


        & h1{
            text-transform: uppercase;
            width: 100px;
            font-size: 4rem;
            color: #8F00FF;
            text-shadow: 3px 3px 4px rgba(0,0,0,0.5);
        }
    }


    &__center{

        & img{
            width:550px ;
            height: 550px;
            object-fit: cover;
            object-position: top;
        }
    }

    &__bottom{
        position: absolute;
        bottom: -15%;
        left: 22%;
        & h1{
            text-transform: uppercase;
            width: 200px;
            font-size: 4rem;
            color: #8F00FF;
            text-shadow: 3px 3px 4px rgba(0,0,0,0.8);
        
        }
    }

}