@use "./reset" as r;

.product {
  margin-top: 80px;
  min-height: 100vh;
  &__wrapper {
    display: flex;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    color: black;
    margin-inline:50px;
  }

  &__left {
    flex: 1;
    padding: 20px;
    padding-left: 40px;
    margin-top: 50px;
    border: none;
    & img {
      width: 500px;
      height: 500px;
      object-fit: contain;
    }
  }
  &__right {
    flex: 1;
    padding: 30px;
    font-family: r.$primary;
    &_top {
      margin-top: 80px;
      & h1 {
        font-size: 1.8rem;
        font-weight: 200;
      }
      &_size {
        margin-top: 30px;
        font-size: 1rem;
        & label {
          padding-right: 20px;
          text-transform: capitalize;
        }
        & select {
          padding: 8px;
          cursor: pointer;
        }
      }
      & section {
        margin-top: 50px;
        & h3 {
          font-size: 1rem;
          font-weight: 100;
        }

        & p {
          margin-top: 20px;
          font-size: 0.9rem;
          color: gray;
        }
      }
    }
    &_center {
      margin-top: 20px;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      text-transform: uppercase;
    }
    &_bottom {
      margin-top: 80px;

      & button {
        padding: 15px 30px;
        width: 300px;
        border: none;
        background: black;
        color: white;
        border-radius: 10px;
        text-transform: uppercase;
        cursor: pointer;
        letter-spacing: 3px;
      }
    }
  }


  &--nav{
    font-size: 2.5rem;
    padding-top: 10px;
    padding-left: 30px;
    color: white;
  }
}



.loading{
  height: 80vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;

  &-animation{
    font-size: 3rem;
    animation: animateIcon infinite 1s ease;
  }
}



@keyframes animateIcon{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
