.productList {
  margin-top: 60px;
  &__server{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    font-size: 2rem;

  }
  &__container {
    display: flex;

    &_left {
      flex: 1;
    }
    &_right {
      flex: 6;
      display: flex;
      flex-direction: column;

      &--contain {
        display: flex;
          flex-wrap: wrap;
        margin-left: 25px;
        margin-top: 10px;
      }
      &--input{
        margin-top: 30px;
        margin-left: 30px;
        border: 0.5px solid gray;
        background-color: white;
        border-radius: 10px;
        width: 250px;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        & i{
          color: black;
        }
        & input{
          border:none;
          outline: none;
          font-size: 1rem;
          
        
        }
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 30px;
    & button {
      padding: 10px 20px;
      border: none;
      text-transform: uppercase;
      background-color: black;
      color: white;
      border: 2px solid #8F00FF;
      border-radius: 20px;
      cursor: pointer;
    }
  }
}
