.summary {
  right: 5%;
  position: relative;
  margin-right: 10px;
  top: -120px;
  width: 500px;
  background-color: white;
  border-radius: 30px;
  color: black;
  font-family: "Times New Roman", serif;
  padding: 20px;

  &__top {
    padding-top: 20px;
  }
  &__center {
    margin-top: 30px;
    width: 100%;
    & div{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    & span{
        padding-right: 20px;
    }
    & h3 {
      text-transform: capitalize;
      font-weight: 200;
      padding-left: 20px;
      
    
    }
    & > * {
      margin-top: 20px;
    }
    & p{
        border: 1.5px solid green;
        padding: 10px 20px;
        border-radius: 10px;
        background-color: rgb(206, 251, 206);
    }
  }
  &__bottom {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    & button {
      width: 300px;
      padding: 10px;
      background-color: white;
      border: 0.3px solid black;
      text-transform: uppercase;
      border-radius: 30px;
        transition: all .6s ease;
        cursor: pointer;
      &:hover{
        background-color: black;
        color: white;
      }
    }
  }
}
